FLRU_LOGIN=
FLRU_PASSWORD=
FLRU_BASE_URL=https://www.fl.ru
FLRU_BROWSER_PROFILE=./data/browser-profile
FLRU_STORAGE_STATE=./data/storage_state.json
FLRU_DATABASE=./data/flru_mcp.sqlite3
FLRU_EXPERTISE_PROFILE=./config/expertise.yml
FLRU_HEADLESS=false
FLRU_DEBUG=false
FLRU_DRY_RUN=true
FLRU_REQUEST_DELAY_MIN_MS=800
FLRU_REQUEST_DELAY_MAX_MS=1800
FLRU_HTTP_TIMEOUT=30

