FLRU_LOGIN=
FLRU_PASSWORD=
FLRU_BASE_URL=https://www.fl.ru
FLRU_BROWSER_PROFILE=./data/browser-profile
FLRU_STORAGE_STATE=./data/storage_state.json
FLRU_DATABASE=./data/flru_mcp.sqlite3
FLRU_EXPERTISE_PROFILE=./config/expertise.yml
FLRU_HEADLESS=false
FLRU_DEBUG=false
FLRU_DRY_RUN=true
FLRU_REQUEST_DELAY_MIN_MS=800
FLRU_REQUEST_DELAY_MAX_MS=1800
FLRU_HTTP_TIMEOUT=30

AVITO_BASE_URL=https://www.avito.ru
AVITO_API_BASE_URL=https://api.avito.ru
AVITO_CLIENT_ID=
AVITO_CLIENT_SECRET=
AVITO_USER_ID=
AVITO_BROWSER_PROFILE=./data/avito-browser-profile
AVITO_STORAGE_STATE=./data/avito_storage_state.json
AVITO_DRY_RUN=true
AVITO_HEADLESS=false

FREELANCER_BASE_URL=https://www.freelancer.com
FREELANCER_LOGIN=
FREELANCER_PASSWORD=
FREELANCER_BROWSER_PROFILE=./data/freelancer-browser-profile
FREELANCER_STORAGE_STATE=./data/freelancer_storage_state.json
FREELANCER_DRY_RUN=true
FREELANCER_HEADLESS=false
